<?xml version = "1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN"
        "http//mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ntm.boot_mybatis.mapper.CountryMapper">
    <resultMap id="BaseResultMap" type="com.ntm.boot_mybatis.entity.Country">
        <id column="id" property="id" javaType="INTEGER"/>
        <result column="countryname" property="countryname" javaType="string"/>
        <result column="countrycode" property="countrycode" javaType="string"/>
    </resultMap>
    <resultMap id="BaseResultMap1" type="com.ntm.boot_mybatis.model.TestRollback">
        <id column="countryid" property="id" javaType="INTEGER"/>
        <result column="countryname" property="Name" javaType="string"/>
        <result column="countrycode" property="Code" javaType="string"/>
        <result column="Peoname" property="Peoname" javaType="string"/>
        <result column="Peonum" property="Peonum" javaType="string"/>
    </resultMap>
    <sql id="Base_Column">
        id,countryname,countrycode
    </sql>
    <select id="GetAll" resultType="com.ntm.boot_mybatis.entity.Country">
        SELECT
        <include refid="Base_Column"/>
        FROM country
    </select>

    <select id="GetOne" resultType="com.ntm.boot_mybatis.entity.Country">
        select
        <include refid="Base_Column"/>
        from country
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null">and id = #{id}</if>
            <if test="countryName != null">and countryName = #{countryName}</if>
            <if test="countryCode != null">and countryCode = #{countryCode}</if>
        </trim>
    </select>

    <insert id="Insert" parameterType="com.ntm.boot_mybatis.entity.Country" useGeneratedKeys="true">
        INSERT INTO
        country
        (countryname,countrycode)
        VALUES
        (#{countryName}, #{countryCode})
    </insert>

    <insert id="TestRollback1" parameterType="com.ntm.boot_mybatis.model.TestRollback" useGeneratedKeys="true">
        INSERT INTO
        country
        (countryname,countrycode)
        VALUES
        (#{Name}, #{Code})
    </insert>

    <insert id="TestRollback2" parameterType="com.ntm.boot_mybatis.model.TestRollback" useGeneratedKeys="true">
        INSERT INTO
        people
        (countryid,peoname,peonum)
        VALUES
        (#{Id},#{Peoname}, #{Peonum})
    </insert>

    <update id="update" parameterType="com.ntm.boot_mybatis.entity.Country" >
        UPDATE
        country
        <trim prefix="set" suffixOverrides="," suffix="where id = #{id}">
            <if test="countryName != null">countryName = #{countryName},</if>
            <if test="countryCode != null">countryCode = #{countryCode},</if>
        </trim>
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        DELETE FROM
        country
        WHERE
        id =#{id}
    </delete>
</mapper>