<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntm.boot_mybatis.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.ntm.boot_mybatis.entity.Role">
        <!--@mbg.generated-->
        <!--@Table `role`-->
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="role_type" property="roleType"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <!--@mbg.generated-->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--@mbg.generated-->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, role_name, role_type
    </sql>
    <select id="selectByExample" parameterType="com.ntm.boot_mybatis.entity.RoleExample" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from `role`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from `role`
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from `role`
        where id = #{id}
    </delete>
    <delete id="deleteByExample" parameterType="com.ntm.boot_mybatis.entity.RoleExample">
        <!--@mbg.generated-->
        delete from `role`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ntm.boot_mybatis.entity.Role"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into `role` (role_name, role_type)
        values (#{roleName}, #{roleType})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ntm.boot_mybatis.entity.Role"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into `role`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName != null">
                role_name,
            </if>
            <if test="roleType != null">
                role_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleName != null">
                #{roleName},
            </if>
            <if test="roleType != null">
                #{roleType},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ntm.boot_mybatis.entity.RoleExample" resultType="java.lang.Long">
        <!--@mbg.generated-->
        select count(*) from `role`
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        <!--@mbg.generated-->
        update `role`
        <set>
            <if test="record.id != null">
                id = #{record.id},
            </if>
            <if test="record.roleName != null">
                role_name = #{record.roleName},
            </if>
            <if test="record.roleType != null">
                role_type = #{record.roleType},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        <!--@mbg.generated-->
        update `role`
        set id = #{record.id},
        role_name = #{record.roleName},
        role_type = #{record.roleType}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ntm.boot_mybatis.entity.Role">
        <!--@mbg.generated-->
        update `role`
        <set>
            <if test="roleName != null">
                role_name = #{roleName},
            </if>
            <if test="roleType != null">
                role_type = #{roleType},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ntm.boot_mybatis.entity.Role">
        <!--@mbg.generated-->
        update `role`
        set role_name = #{roleName},
        role_type = #{roleType}
        where id = #{id}
    </update>
</mapper>